.l-air-du-moment-une{
	width: 100%;
}
.l-air-du-moment-img{
	margin-right: 20px;
	margin-bottom: 10px;
	float: left;
	width: 580px;
}
.l-air-du-moment-une h2{
	font-size: 1.6em;
	padding-bottom: 15px;
}
.l-air-du-moment-une p{
	text-align: justify;
}
@media (max-width: 950px) {
	.l-air-du-moment-img{
		width: 100%;
		margin-bottom: 20px;
	}
}

.bouton-ecouter{
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
	color: #f4f4f4;
	background-color: #8f7947;
	margin-top: 0;
	margin-left: 0;
	vertical-align: middle;
	font-size: 1.3em;
	letter-spacing: 0.15em;
	width: 130px;
	height: 40px;
	line-height: 35px;
	padding: 3px 6px;
	text-align: center;
	position: absolute;
}
.l-air-du-moment-description{
	margin-top: 20px;
}

.dates-concerts{
	margin: auto;
	margin-bottom: 16px;
	/*height: 100px;*/
}
.dates-concerts-gauche, .dates-concerts-droite{
	float: left;
}
.dates-concerts-gauche{
	width: 100px;
	text-align: center;
	vertical-align: middle;
}
.dates-concerts-gauche h3{
	display: block;
	font-weight: 600;
	font-size: 4.3em;
	letter-spacing: 0.1em;
}
.date-concerts-jour-ajout{
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
	color: #f4f4f4;
	background-color: #8f7947;
	font-weight: 600;
	letter-spacing: 0.1em;
	margin-bottom: 10px;
}
.dates-concerts-gauche .dates-concerts-mois-annee{
	font-weight: 400;
	font-size: 1.1em;
	letter-spacing: 0.15em;
	text-transform: uppercase;
	margin-top: -8px;
}
.dates-concerts-gauche, .dates-concerts-gauche h3, .dates-concerts-gauche .dates-concerts-mois-annee, .bouton-reserver {
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
	color: #f4f4f4;
	background-color: #8f7947;
}
.date-concerts-mois-annee-ajout{
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
	color: #f4f4f4;
	background-color: #8f7947;
	font-weight: 400;
	letter-spacing: 0.15em;
}
.dates-concerts-droite{
	background-color: #FCFCFC;
}
.dates-concerts-droite{
	width: 824px;
	text-align: left;
	/*height: 100%;*/
}
.ajout-concerts-lheure{
	background-color: #FCFCFC;
}
.dates-concerts-heure{
	padding-right: 20px;
}
.dates-concerts-heure i, .dates-concerts-adresse i{
	font-size: 1.5em;
}
.dates-concerts-droite h3, .dates-concerts-p, .project-concerts{
	width: 639px;
	margin-left: 25px;
	height: 100%;
}
.dates-concerts-droite h3 {
	margin-top: 8px;
	margin-bottom: 3px;
}
.dates-concerts-droite h3, .project-concerts{
	font-size: 1em;
	font-weight: 600;
	padding-top: 10px;
	padding-bottom: 10px;
	letter-spacing: 0.1em;
}
.dates-concerts-p{
	border-top: 1px solid black;
	font-size: 0.9em;
}
.dates-concerts-p i{
	color: #8f7947;
}
.bouton-reserver{
	width: 110px;
	height: 40px;
	text-align: center;
	letter-spacing: 0.15em;
	padding: 3px 6px;
	font-size: 1.3em;
	line-height: 35px;
	position: absolute;
	margin: auto;
	margin-top: 30px;
	margin-left: 789px;
	vertical-align: middle;
	color: #f4f4f4;
}
.bouton-gauche-concerts, .bouton-droite-concerts{
	width: 52px;
}
.bouton-concerts-ajouter{
	background-color: #287233;
}
.bouton-concerts-modifier{
	background-color: #6B238E;
}
.bouton-concerts-validate-modif{
  background-color: #287233;
}
.bouton-concerts-supprimer{
	background-color: #BB0B0B;
}
.bouton-concerts-undo{
  background-color: #b38b6d;
}
.bouton-reserver:hover, .bouton-reserver:focus, .bouton-ecouter:hover, .bouton-ecouter:focus{
	cursor: pointer;
	background-color: #beaa7c;
}
.espace-portable{
	display: none;
}
.dates-concerts-titre-admin{
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
@media (min-width: 950px) {
	.dates-concerts{
		overflow: hidden;
	}
	.dates-concerts-p{
		padding-top: 13px;
	}
	.dates-concerts-heure, .dates-concerts-adresse{display: inline-block;float: left;font-size: 0.9em;margin: 0;padding: 0;padding-bottom: 13px; line-height: 1.3em;}
	.dates-concerts-heure {padding-right: 10px;}
	.dates-concerts-adresse {margin-left: 2px;}
	.dates-concerts-titre-admin{
		background-position: 0px 21px;
	}
}
@media (max-width: 949.999999px) {
	.dates-concerts-droite{width: 512px;}
	.dates-concerts-gauche {height: 100%;}
	.dates-concerts-droite h3, .dates-concerts-p, .project-concerts{width: 462px; height: 100%; padding-top: 10px; padding-bottom: 10px;}
	.bouton-reserver{height: 30px; line-height: 25px; font-size: 1.1em;margin-top: 10px; margin-left: 477px;}
	.dates-concerts-heure, .dates-concerts-adresse{display: block;float: none;font-size: 0.9em;margin: 0;padding: 0; padding-bottom: 10px; line-height: 1.3em;}
	.dates-concerts-heure {}
	.dates-concerts-adresse {; margin-left: 2px;}
	.dates-concerts-titre-admin{
		background-position: 0px 13px;
	}
}
@media (max-width: 640px) {
	.dates-concerts-gauche{
		width:100%;
		height: 30px;
		line-height: 30px;
	}
	.dates-concerts-gauche h3, .dates-concerts-gauche .dates-concerts-mois-annee{
		display: inline;
		font-size: 1.1em;
	}
	.dates-concerts-droite{

	}
	.dates-concerts-droite h3, .project-concerts{
		padding-left: 10px;
		padding-right: 10px;
		font-size: 0.9em;
		height: 100%;
	}
	.dates-concerts-droite, .dates-concerts-droite h3, .dates-concerts-p, .project-concerts{
		width: 100%;
	}
	.dates-concerts-droite h3, .dates-concerts-p, .project-concerts{
		margin-left: 0;
		text-align: left;
		background-color: #FCFCFC;
	}
	.dates-concerts-p{
		height: 100%
	}
	.dates-concerts-heure, .dates-concerts-adresse{
		display: block;float: none;
		margin: 0;
		padding: 10px 10px 0;
		line-height: 1.3em;
	}
	.dates-concerts-heure {
		padding-top: 0;
	}
	.dates-concerts-adresse {
		padding-bottom: 10px;
		margin-left: 3px;
	}
	.bouton-reserver{
		font-size: 1em;
		width: 90px;
		margin-top: 85px;
		margin-left: 124px;
	}
	.bouton-gauche-concerts, .bouton-droite-concerts{
	width: 42px;
	}
	.dates-concerts-titre-admin{
		background-position: 0px 11px;
	}
}
.dates-concerts-adresse-admin{
	padding-left: 6px;
	padding-top:0px;
	background-position: 0px 0px;
	background-size: 30px 30px;
	background-repeat: no-repeat;
}
.vignettes-resp h2 {
	font-size: 1.6em;
	color: #8f7947;
	letter-spacing: 0.07em;
	padding-bottom: 10px;
	text-decoration: uppercase;
	font-weight: 600;
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
}
.img-groupe {
	width: 200px;
	height: 200px;
	border: 1px solid black;
}
#a-propos-photo {
	margin: 0;
	height: 350px;
}
.vignette-front p{
	text-align: justify;
}
.vignette-front .vignette-signature{
	float: right;
	margin-top: 10px;
}
.vignette-signature{
	text-align: right;
	font-size: 1.1em;
	color: black;
	letter-spacing: 0.1em;
	text-decoration: uppercase;
	font-weight: 600;
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
}
.vignette-front{
	padding: 15px;
}
.popup-vignette-resp-content h2 {
	font-size: 1.5em;
	letter-spacing: 0.1em;
	text-decoration: uppercase;
	font-weight: 600;
	font-family: 'bebas_neuebook', 'Open Sans', sans-serif;
}
